
.block{
    
    padding: 20px;
    width: 80%;
    margin: auto;
}

.inputForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn{
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    width: 200px;
    border: solid 3px white;
}

.inputField{
    width: 40%;
    padding: 10px;
    border-radius: 20px;
    border: solid 3px white;

}
