
.block{

    padding: 20px;
    width: 550px;
    margin: auto;
    border-left: solid 1px white;
    border-right: solid 1px white;

}

.inputForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

