
.block{
    border: solid 2px black;
    padding: 20px;
    width: 550px;
    margin: auto;
}

.inputForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn{
    
}
